<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <link rel="stylesheet" type="text/css" th:href="@{/plugins/fontawesome-free/css/all.min.css}" >
        <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
        <!-- Theme style -->
        <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    </head>
    <body>
        <!--header.html  that's here  -->
        <div th:replace="navbar :: navbar"></div>
        <div th:replace="sidebar :: sidebar"></div>
        <div layout:fragment="content"></div>
        <!--footer.html  that's here  -->
        <div th:replace="footer :: footer"></div>
    </body>
</html>