<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Room</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Create New Room</h1>
    <form th:action="@{/admin/save}" th:object="${room}" method="post">
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <td><button type="submit"  >Save</button></td>

            </tr>
        </table>
    </form>
</div>
</body>
</html>